---
import * as m from '@/paraglide/messages'

import Button from './Button.astro'
import SectionTitle from './SectionTitle.astro'
---

<section class="text-center sm:text-left grid">
  <div id="title">
    <h1 class="font-medium text-[28px] font-title mb-1">{m.siteName}</h1>
    <h2 class="text-[18px]">{m.aboutSubtitle}</h2>
  </div>

  <div class="justify-self-center items-center" aria-hidden="true">
    <label for="avatar-logo" class="swap swap-flip">
      <input id="avatar-logo" type="checkbox" />
      <div class="swap-off tooltip tooltip-bottom" data-tip="Toothless">
        <img
          class="rounded-full border-2 justify-self-center mt-5 shadow-md"
          width="100"
          height="100"
          src="/drew.webp"
          alt={m.siteName()}
        />
      </div>
      <div class="swap-on tooltip tooltip-bottom" data-tip="Drew Domi ♠">
        <img
          class="rounded-full border-2 justify-self-center mt-5 shadow-md"
          width="100"
          height="100"
          src="/favicon.svg"
          alt="Drew Logo"
        />
      </div>
    </label>
  </div>

  <article id="about" class="text-left">
    <SectionTitle title={m.aboutSectionTitle()} />

    <p class="text-[16px]">
      {m.aboutText}
    </p>
  </article>

  <div class="flex justify-center gap-8 sm:gap-6 mt-8 sm:m-0" id="btns">
    <Button
      label="GitHub"
      href="https://github.com/drewdomi"
      leftIcon="bi:github"
    />
    <Button
      label={m.aboutCvButton()}
      href={m.aboutCvLink()}
      leftIcon="ph:file-pdf-bold"
    />
  </div>
</section>

<style>
  @media (min-width: 640px) {
    section {
      grid-template-columns: 1fr 100px;
      grid-template-rows: 1fr 48x 1fr;
    }
    #title {
      align-self: center;
    }
    #about {
      grid-column: 1 / -1;
      grid-row: 3;
    }
    #btns {
      grid-row: 2;
      grid-column: 1 / -1;
      align-self: center;
      justify-content: start;
    }
  }
</style>
