---
import Footer from '@/components/Footer.astro'
import Header from '@/components/Header.astro'
import * as m from '@/paraglide/messages'
import { languageTag } from '@/paraglide/runtime'
import '@fontsource/roboto/latin-300.css'
import '@fontsource/roboto/latin-400.css'
import '@fontsource/rubik/latin-400.css'
import '@fontsource/rubik/latin-500.css'
import { ViewTransitions } from 'astro:transitions'

Astro.response.headers.set('Cache-Control', 'public, max-age=3600')

interface Props {
  title?: string
  desc?: string
}

const { title = m.siteName(), desc = m.siteDesc() } = Astro.props
---

<!doctype html>
<!--

██████╗ ██████╗ ███████╗██╗    ██╗  ██████╗  ██████╗ ███╗   ███╗██╗
██╔══██╗██╔══██╗██╔════╝██║    ██║  ██╔══██╗██╔═══██╗████╗ ████║██║
██║  ██║██████╔╝█████╗  ██║ █╗ ██║  ██║  ██║██║   ██║██╔████╔██║██║
██║  ██║██╔══██╗██╔══╝  ██║███╗██║  ██║  ██║██║   ██║██║╚██╔╝██║██║
██████╔╝██║  ██║███████╗╚███╔███╔╝  ██████╔╝╚██████╔╝██║ ╚═╝ ██║██║
╚═════╝ ╚═╝  ╚═╝╚══════╝ ╚══╝╚══╝   ╚═════╝  ╚═════╝ ╚═╝     ╚═╝╚═╝

-->
<html lang={languageTag()}>
  <head>
    <!-- Primary Meta Tags -->
    <meta charset="UTF-8" />
    <meta name="description" content={desc} />
    <meta name="author" content={m.siteName()} />
    <meta name="author" content="drewdomi" />
    <meta name="generator" content={Astro.generator} />
    <meta name="copyright" content={m.siteName()} />
    <meta http-equiv="content-language" content={languageTag()} />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="keywords" content={m.siteKeywords()} />
    <meta name="rating" content="general" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <!-- Open Graph / Facebook -->
    <meta property="og:site_name" content={m.siteName()} />
    <meta name="og:title" content={m.siteName()} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://www.drewdomi.com/card.png" />
    <meta property="og:url" content="https://www.drewdomi.com" />
    <meta property="og:description" content={desc} />

    <!-- Twitter -->
    <meta name="twitter:title" content={m.siteName()} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@drewdomii" />
    <meta name="twitter:creator" content="@drewdomii" />
    <meta name="twitter:image" content="https://www.drewdomi.com/card.png" />

    <ViewTransitions />
    <title>{title}</title>
    <style is:global>
      * {
        font-family: 'Roboto', sans-serif;
        scroll-behavior: smooth;
      }
      @keyframes downtop {
        0% {
          opacity: 0;
          transform: translateY(15px);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }
      main {
        animation: downtop 0.7s 0.35s backwards;
      }
      a {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <Header />
    <main class="max-w-[678px] mx-auto mt-20 px-5 min-h-[100vh] mb-10">
      <slot />
    </main>
    <Footer />
    <script is:inline async data-id="101458763" src="//static.getclicky.com/js"
    ></script>
  </body>
</html>
