---
import Layout from '@/layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import type { CollectionEntry } from 'astro:content'

type Props = CollectionEntry<'projects'>['data']
const {
  title,
  desc,
  cover,
  altCover,
  releaseDate,
  site,
  siteTitle,
  github,
  stacks,
} = Astro.props
---

<Layout {title} {desc}>
  <section>
    <div class="pt-2">
      <img
        class="rounded-md shadow-md"
        width="100%"
        src={cover}
        alt={altCover}
      />
    </div>
    <div class="text-sm breadcrumbs mt-3 mb-2">
      <ul>
        <li><a class="text-secondary gap-0.5" href="/projects">Projetos</a></li>
        <li class="text-xl font-title font-medium items-center">
          {title}
          <span class="badge badge-info ml-3">{releaseDate}</span>
        </li>
      </ul>
    </div>
    <div class="pb-2">
      {
        site && (
          <p class="mb-2 gap-2 flex">
            <span class="badge badge-primary ml-3 mr-1">WEB</span>
            <a href={site} target="_blank" class="link flex items-center gap-2">
              {!siteTitle ? site : siteTitle}
              <Icon name="bi:box-arrow-up-right" class="w-[14px]" />
            </a>
          </p>
        )
      }
      <p class="mb-2 overflow-x-auto whitespace-nowrap">
        <span class="badge badge-warning ml-3 mr-1">Stack</span>
        {stacks.join(', ')}
      </p>

      {
        github && (
          <p class="mb-2 gap-2 flex">
            <span class="badge badge-error ml-3 mr-1">Github</span>
            <a
              href={github}
              target="_blank"
              class="link flex items-center gap-2"
            >
              {github?.replace('https://github.com/drewdomi/', '')}
              <Icon name="bi:box-arrow-up-right" class="w-[14px]" />
            </a>
          </p>
        )
      }
    </div>
    <div class="text-justify mb-16">
      <slot />
    </div>
  </section>
</Layout>
